.row {
  display: flex;
}

.column {
  flex: 49%;
}

.linecolumn {
  flex: 2%;
}

.StuffKnow {
  width: 30rem;
  height: auto;
  border-radius: 16px;
  border: .2rem solid var(--carnelian);
}

.GithubEmbed {
  border-radius: 16px;
  border: .2rem solid var(--carnelian);
}