@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;1,100&display=swap');

:root {
  --rich-black-fogra-39: #0b090aff;
  --eerie-black: #171717ff;
  --eerie-black-lighter: #2b2b2b;
  --blood-red: #660708ff;
  --ruby-red: #a4161aff;
  --carnelian: #b9181b;
  --imperial-red: #e5383bff;
  --black-shadows: #b1a7a6ff;
  --light-gray: #d3d3d3ff;
  --cultured: #f5f3f4;
  --white: #ffffffff;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--eerie-black);
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.HomeElements {
  background-color: var(--eerie-black);
  color: var(--cultured);
  text-align: center;
}

.HomeElements h1 {
  margin-bottom: .5rem;
  align-items: center;
  font-size: 32px;
}

.FadeInLoad {
  opacity: 0;
  transform: translate(0, 10vh);
  transition: all 1s;
}

.FadeInLoad.visible {
  opacity: 1;
  transform: translate(0, 0);
}

.Line {
  max-width: 80%;
  margin: auto  ;
}